@using MailApp.Models.Messages
@model MailApp.Models.Messages.MessagesListViewModel

<div class="row mx-lg-n5">
    <div class="col-sm-3">
        <div class="card">
            <div>
                <form asp-action="Index" method="get">
                    <div class="form-group">
                        <label asp-for="Search"></label>
                        <input asp-for="Search" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="SenderId"></label>
                        <select class="form-control" asp-for="SenderId" asp-items="Model.Senders.Select(x => new SelectListItem(x.Nick, x.AccountId.ToString()))">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sort"></label>
                        <select asp-for="Sort" class="form-control" asp-items="Enum.GetValues(typeof(MessagesQuery.SortingOptions)).Cast<MessagesQuery.SortingOptions>().Select(x => new SelectListItem(x.ToString(), x.ToString()))">
                            <option></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="card-header">
                New Messages:
            </div>
            <div class="list-group">
                @foreach (var message in Model.MessageList.Messages)
                {
                    <a
                        asp-controller="Message"
                        asp-action="Details"
                        asp-route-MessageId="@message.MessageId"
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        data-ajax="message-container"
                        style="color: @(message.IsRead ? "" : "red")">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">@message.Sender.Nick</h6>
                            <small>@message.SentDate.Date</small>
                        </div>
                        <p class="mb-1">@message.Subject</p>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-7" id="message-container">
    </div>
</div>

<script>
    $('a[data-ajax]').click(function(ev) {
        ev.preventDefault();
        var el = $(this);
        var url = this.href;
        var containerId = el.data('ajax');
        var container = $('#' + containerId);

        fetch(url)
            .then(function(res) {
                return res.text();
            })
            .then(function(body) {
                container.html(body);
                el.css('color', '');
            })
            .catch(function(err) {
                container.text('Error during fetching data');
            });
    });
</script>