@using MailApp.Models.Messages
@model MailApp.Models.Messages.MessagesListViewModel

<div class="row mx-lg-n5">
    <div class="col-sm-3">
        <div class="container rounded-bottom bg-info" style="border-style:ridge">
            <form asp-action="Index" method="get">
                <div class="row" style="height:5px"></div>
                <div class="form-group">
                    <input asp-for="Search" class="form-control" placeholder="Search...">
                </div>
                <div class="row">
                    <div class="col-3 align-items-lg-center">
                        <label asp-for="SenderId">Sender Id:</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" asp-for="SenderId" asp-items="Model.Senders.Select(x => new SelectListItem(x.Nick, x.AccountId.ToString()))">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="height:5px"></div>
                <div class="row">
                    <div class="col-3 align-items-lg-center">
                        <label asp-for="Sort">Sort by:</label>
                    </div>
                    <div class="col-9">
                        <select asp-for="Sort" class="form-control" asp-items="Enum.GetValues(typeof(MessagesQuery.SortingOptions)).Cast<MessagesQuery.SortingOptions>().Select(x => new SelectListItem(x.ToString(), x.ToString()))">
                            <option></option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <div class="row" style="height:5px"></div>
            </form>
        </div>

        <div class="row" style="height:5px"></div>

        <div class="card">
            <div class="card-header">
                New Messages:
            </div>
            <div class="list-group">
                @foreach (var message in Model.MessageList.Messages)
                {
                    <a asp-controller="Message"
                       asp-action="Details"
                       asp-route-MessageId="@message.MessageId"
                       id="mess"
                       class="list-group-item list-group-item-action flex-column align-items-start"
                       data-ajax="message-container"
                       style="color: @(message.IsRead ? "" : "red")">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">@message.Sender.Nick</h6>
                            <small>@message.SentDate.Date</small>
                        </div>
                        <p class="mb-1">@message.Subject</p>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-8" id="message-container">
    </div>
</div>

<script>
    $('a[data-ajax]').click(function (ev) {
        ev.preventDefault();
        var el = $(this);
        var url = this.href;
        var containerId = el.data('ajax');
        var container = $('#' + containerId);

        fetch(url)
            .then(function (res) {
                return res.text();
            })
            .then(function (body) {
                container.html(body);
                el.css('color', '');
            })
            .catch(function (err) {
                container.text('Error during fetching data');
            });
    });
</script>