@model MailApp.Models.Messages.MessagesViewModel

<div class="row mx-lg-n5">
    <div class="col-sm-1 align-self-start">
        <a asp-controller="Message" asp-action="NewMessage" class="btn btn-secondary btn-sm" style="margin-bottom: 10px">Nowa wiadomość</a>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-secondary btn-sm text-left">
                Odebrane <span class="badge badge-primary">11</span>
            </button>
            <button type="button" class="btn btn-secondary btn-sm text-left">
                Wysłane
            </button>
            <button type="button" class="btn btn-secondary btn-sm text-left">
                Spam <span class="badge badge-primary">8</span>
            </button>
            <button type="button" class="btn btn-secondary btn-sm text-left">
                Kopie robocze <span class="badge badge-primary">2</span>
            </button>
            <button type="button" class="btn btn-secondary btn-sm text-left">
                Kosz
            </button>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                New Messages:
            </div>
            <div>
                <button class="dropdown" style="height: 30px; width: 100%; background-color: cornflowerblue">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Filtruj po kontach<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var s in Model.Senders)
                        {
                            <li>
                                <a asp-controller="Message" asp-action="Index" asp-route-senderId="@s.AccountId">@s.Nick</a>
                            </li>
                        }
                        <li class="divider"/>
                        <li>
                            <a asp-controller="Message" asp-action="Index" asp-route-senderId="">All</a>
                        </li>
                    </ul>
                </button>
            </div>
            <div class="list-group">
                @foreach (var message in Model.MessageList.Messages)
                {
                    <a
                        asp-controller="Message"
                        asp-action="Details"
                        asp-route-MessageId="@message.MessageId"
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        data-ajax="message-container"
                        style="color: @(message.IsRead ? "" : "red")"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">@message.Sender.Nick</h6>
                            <small>@message.SentDate.Date</small>
                        </div>
                        <p class="mb-1">@message.Subject</p>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-7" id="message-container">
        @if (Model.Details != null)
        {
            <partial name="Details" model="Model.Details"/>
        }
    </div>
</div>

<script>
    $('a[data-ajax]').click(function(ev) {
        ev.preventDefault();
        var el = $(this);
        var url = this.href;
        var containerId = el.data('ajax');
        var container = $('#' + containerId);

        fetch(url)
            .then(function(res) {
                return res.text();
            })
            .then(function(body) {
                container.html(body);
                el.css('color', '');
            })
            .catch(function(err) {
                container.text('Error during fetching data');
            });
    });
</script>